@import url("aktura.css");

:root {
    --red: #FF5138;
    --blue: #697EF5;
    --white: #FCFCF5;
    --black: #121224;
}

* {
    cursor: url("../images/glove.cur"), pointer;
}

#hero-title {
    font-size: 4rem;
}

#home-button {
    position: fixed;
    top: 0;
    left: 4vh;
}

#music-footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding-top: 4vh;
    background: linear-gradient(transparent, var(--white))
}

#music-player {
    padding: none;
}

#under-construction {
    height: 40vh;
    display: block;
    margin: auto;
}

#tracklist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song {
    opacity: 0.5;
}

.selected-song {
    opacity: 0.9;
}

/* .selected-song::before {
    content: ">";
    position: absolute;
    font-size: 2rem;
    left: 4vw;
    animation: blink 1s linear infinite;
} */

.selected-song h2 {
    display: inline-block;
}

.selected-song::before {
    content: "> ";
    position: relative;
    font-size: 2rem;
    animation: blink 1s linear infinite;
}

h1, h2, h3, h4, h5, h6, .selected-song::before {
    
    text-align: center;    
}

h2 {
    font-size: 2rem;
}

a:link, a:visited, a:hover, a:focus, a:active {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    opacity: 0.5;
}

ol, ul {
    list-style-type: none;
    padding: 0;
}

#dragon {
    position: absolute;
    top: 20vh;
    left: 10vh;
    height: 40vh;
    animation: dragon-fly 22s linear infinite;
    will-change: transform;
    pointer-events: none;
    z-index: -1;
}

audio::-webkit-media-controls-panel {
  background-color: transparent !important;
}

audio::-webkit-media-controls-enclosure {
  background-color: transparent;
}

#subscribe {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    font-size: 2rem;
}

#subscribe p {
    flex: 100%;
}

#subscribe input {
    font-size: 2rem;
}

#subscribe button {
    font-family: inherit;
    font-size: 2rem;
    color: var(--white);
    background-color: black;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes dragon-fly {
    0% {
        transform: translate(0, 0) scaleX(1) rotate(0deg);
    }

    12.5% {
        transform: translate(30vw, -5vh) scaleX(1) rotate(-4deg);
    }

    25% {
        transform: translate(65vw, -8vh) scaleX(1) rotate(-6deg);
    }

    37.5% {
        transform: translate(70vw, 20vh) scaleX(1) rotate(2deg);
    }

    50% {
        transform: translate(65vw, 45vh) scaleX(-1) rotate(6deg);
    }

    62.5% {
        transform: translate(30vw, 35vh) scaleX(-1) rotate(3deg);
    }

    75% {
        transform: translate(-10vw, 30vh) scaleX(-1) rotate(-4deg);
    }

    87.5% {
        transform: translate(-5vw, 10vh) scaleX(-1) rotate(-2deg);
    }

    100% {
        transform: translate(0, 0) scaleX(1) rotate(0deg);
    }
}

body {
    font-family: Aktura-Regular;
    color: var(--white);
    letter-spacing: 8px;
    opacity: 0.9;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    margin: 20vh 0;
    background: url("../images/sky.gif") fixed no-repeat center / cover;
}
